<body>
  <h1>Work in progress. Look back for updates.</h1>
  <p>
    This site will hopefully transform into a blog on technology, career and personal life experiences.
    This will also serve as a portfolio so expect to see the site transform over time as I put into practice things I am learning!
  </p>
</body>
