<body>
  <h1 class='headerTitle'>Work in progress. Check back for updates.</h1>
  <p class='headerTitle'>
    This site will hopefully transform into a blog on technology, career and personal life experiences.
    This will also serve as a portfolio so expect to see the site transform over time as I put into practice things I am learning!
  </p>
</body>
