<body>
<div class='headerTitle'>
<h1>About</h1>
<p>Hello World! I am Zach Cannon and welcome to my blog/portfolio site!</p>
<p>This site will serve as a blog and run the gambit of topics that I hope will pique my visitors' interest. I will cover career experiences/advice, technology and a grab bag of other topics so hop along for the ride.&nbsp;</p>
<p>I am currently a Web Services Engineer&nbsp;at Digital Monitoring Products where I work mostly in AngularJS Development and have recently begun Ruby on Rails Development. I graduated from Missouri State University in Springfield, MO with a B.S in Computer Information Systems. Go Bears! I have been working since high school slowly working my way up to my current position (more to come in a later blog post).</p>
<p>I have a beautiful wife, son and dog who are the world to me. We enjoy doing everything together as a family but taking family road trips and exploring take the cake by far. My hobbies and interests outside of technology include sports (primarily football and basketball), video games and being outdoors (hiking and floating). I hope to delve more into these topics in future posts!</p>
<p>If you have any questions or comments please do not hesistate to reach out to me! My contact information can be found on the home page or you can email me at <a href="mailto:zachary.cannon@hotmail.com" target="_blank">zachary.cannon@hotmail.com</a>.</p>
<p>Please follow my <a href="https://www.linkedin.com/in/zcannon" target="_blank">LinkedIn</a>&nbsp;for updates on new blog posts or stop by frequently to check my progress/updates!</p>
</div>
</body>
