<body>
 <div style='text-align: center'>
     <div class="user" style="background-image:url('/assets/error.jpg')"></div>
 </div>
 <p style='text-align: center' class="headerTitle">Astyanax "Naxy" Cannon</p>
 <p style='text-align: center' class="headerTitle">This is not the page you are looking for. You can however stay and admire me.</p>
</body>
