<body>
    <div style='text-align: center'>
<div class="user" style="background-image:url('/assets/home.jpg')"></div>
</div>
<p style='text-align: center' class="headerTitle">Zachary B Cannon</p>
<p style='text-align: center' class="headerTitle">Christian. Husband. Father. Developer.</p>
<p style='text-align: center'><a class="headerTitle" href='https://twitter.com/thezachcannon'><span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span></a>
<a class="headerTitle" href='https://linkedin.com/in/zcannon'><span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x"></i>
</span></a>
</a>
<a class="headerTitle" href='https://github.com/thezachcannon'><span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-github-alt fa-stack-1x"></i>
</span></a>
<a class="headerTitle" href='https://instagram.com/thezachcannon'><span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-instagram fa-stack-1x"></i>
</span></a>
<a class="headerTitle" href='/error'><span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-reddit-alien fa-stack-1x"></i>
</span></a></p>

</body>