<div style='text-align: center' ng-hide="!loading">
  <i class="fa fa-spin fa-cog fa-3x headerTitle"></i>
</div>
<h1 class='headerTitle'>Blog</h1>
<div ng-hide='loading' class='headerTitle' ng-repeat='blog in blogs'>
  <h1 class='headerTitle'>{{blog.title}}</h1>
  <p class='headerTitle'>{{blog.created_at | date: 'MM/dd/yyyy'}}<p>
  <div ng-bind-html='toTrustedHTML(blog.content)'></div>
  <hr class='headerTitle'>
</div>