<div style='text-align: center' ng-hide="!loading">
  <i class="fa fa-spin fa-cog fa-3x headerTitle"></i>
</div>
<h1 class='headerTitle'>Blog</h1>
 <div ng-hide='loading' style='background: white'>
    <table class="table table-responsive">
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat='blog in blogs'>
      <td><a ng-href='blog/details/{{blog._id}}'>{{blog.title}}</a></td>
      <td>{{blog.created_at | date: 'MM/dd/yyyy'}}</td>
    </tr>
  </table>
</div>