<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../includes/head %>
</head>


<div ng-app="app">
<div ng-controller="indexCtrl">
  
    <header>
      <% include ../includes/header %>
    </header>
    <div class="container" ng-view>
      
    </div>
      <footer class="footer">
      <% include ../includes/footer %>
    </footer>
</div>
</body>




</html>
