<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../includes/head %>
</head>

<body ng-app="app">

  <header>
    <% include ../includes/header %>
  </header>

  <div class="container-fluid" ng-view>

  </div>
  <footer>
    <% include ../includes/footer %>
  </footer>

</body>

</html>
