<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">Coded by @thezachcannon</p>

<!-- Javascript Libraries -->
<script src ='/libs/angular/angular.min.js'> </script>
<script src ='/libs/angular-resource/angular-resource.min.js'> </script>
<script src ='/libs/angular-route/angular-route.min.js'> </script>
<script src ='/libs/angular-animate/angular-animate.js'> </script>
<script src='/libs/angular-touch/angular-touch.min.js'> </script>
<script src='/libs/angular-ui-bootstrap/dist/ui-bootstrap.js'> </script>
<script src='/libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js'> </script>


<!-- Custom Javascript -->
<script src ='/app/app.js'> </script>
<script src='/app/routes.js'> </script>
<script src='/app/controllers/homepage.js'></script>
<script src='/app/controllers/info.js'></script>
