<!-- views/partials/footer.ejs -->
<div style='text-align: center'>
    <p class="text-muted">Coded by <a href='/login'>@thezachcannon</a></p>
</div>

<!-- Javascript Libraries -->
<script src ='/libs/angular/angular.min.js'> </script>
<script src ='/libs/angular-resource/angular-resource.min.js'> </script>
<script src ='/libs/angular-route/angular-route.min.js'> </script>
<script src ='/libs/angular-animate/angular-animate.js'> </script>
<script src='/libs/angular-touch/angular-touch.min.js'> </script>
<script src='/libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js'> </script>



<!-- Custom Javascript -->
<script src ='/app/app.js'> </script>
<script src='/app/routes.js'> </script>
<script src='/app/services/services.js'></script>
<script src='/app/services/userService.js'></script>
<script src='/app/controllers/homepage.js'></script>
<script src='/app/controllers/login.js'></script>
<script src='/app/controllers/admin/home.js'></script>
<script src='/app/controllers/blog/blog.js'></script>
<script src='/app/controllers/blog/details.js'></script>
<script src='/app/controllers/code.js'></script>
<script src='/app/controllers/about.js'></script>
<script src='/app/controllers/index.js'></script>
