<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
    <a class="navbar-brand" href="/"><i class="fa fa-spin fa-user-circle headerTitle"></i> thezachcannon</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
    <ul ng-click='isNavCollapsed = !isNavCollapsed' class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href="/code">Code</a></li>
      <li ng-if="userService.isAuthenticated"><a href="/admin">Admin</a></li>
    </ul>
  </div>
</nav>
